.tablehead {
}

.searchdiv {
  display: flex;
  align-items: center;
  flex-direction: center;
  justify-content: center;
  /* position:relative;  */
}

#search {
  padding: 10px 40px;
  border-radius: 20%;
  position: fixed;
  background: lightblue;
  opacity: 0.7;
}

.teams {
  display: flex;
  justify-content: space-around;
  /* align-items:center; */
}

.countryImage {
  padding: 10px;
  border-radius: 10%;
  border: 1px solid gray;
  margin: 5px;
  box-shadow: 1px 8px 16px rgba(0, 0, 0, 0.16);
}

.image {
  width: 15%;
  border-radius: 50%;
  padding: 5px;
}

.name {
  padding-left: 20px;
  font-family: "Playfair Display", serif;
}

hr {
  opacity: 2;
  color: blue;
}

h1 {
  font-size: 20px;
  font-weight: 800;
  font-family: "Playfair Display", serif;
  
}

.teamList {
  font-size: 20px;
  font-weight: 800px;
  padding-left: 31px;
}

span {
  color: blue;
}
.country {
  margin-top: 50px;
}

.club {
  margin-top: 50px;
}
