.nav{
   background: lightgray; 

}

.navhead {
   display:flex;
   justify-content: center;
   text-align: center;
   font-weigth: 800;
   font-size: 40px ;
   font-family: 'Playfair Display', serif;
   padding:20px;
   position:relative;
}