.match-scoreboard {
  display: flex;
  justify-content: space-around;
  align-item: center;
  background-image: url("https://images.pexels.com/photos/2435290/pexels-photo-2435290.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
}

.team-name {
  font-size: 20px;
  font-weigth: 800;
  text-color: white;
  background: white;
}

.team-a {
  background-color: blue;
  border-raduis:50%;
}

.team-b {
  background-color: green;
}
