.match-scoreboard {
  display: flex;
  justify-content: space-around;
  align-item: center;
}

.team-name {
  font-size: 20px;
  font-weigth: 800;
  text-color: white;
  background: white;
}

.team-a {
  background-color: green;
}

.team-b {
  background-color: burlywood;
}
